
#createTitle {
  color: #93DB70;
  text-align: center;
}

#createBody {
  /*position: relative;*/
  width: 100%;
  padding: 0px;
}

#topContainer {
  width: 100%;
  vertical-align: top;
  padding:2%;
}

#buttonGroup {
  display: inline-block;
  margin: 0px;
}

#middleContainers {
  /*display: inline;*/
  width: 100%;
  vertical-align: top;
  /*height: 100%;*/
  padding: 2%;
  height: 60%;
}

#leftContainer {
  display: inline-block;
  margin: 0;
  padding: 0%;
  /*border: 1px solid black;*/
  border:0px;
  width: 49%;
  background-color: #FEF1B5;
  overflow:auto;
  height: 100%;
}

#rightContainer {
  display: inline-block;
  margin: 0;
  padding: 0%;
  /*border: 1px solid black;*/
  border: 0;

  float: right;
  width: 49%;
  background-color: #BFEFFF;
  overflow:auto;
  height: 100%;

}

#createFooter {
  vertical-align: bottom;
  width: 100%;
}

#friendsTable {
  /*border:1px solid black;*/
  /*overflow:auto;*/

  margin:0;
  padding:0;
  font-size: 14px;
  table-layout: fixed;
}

#yourFriendsHeader {
  background-color: #FCDC3B;
  padding: 5px;
/*  padding-top: 5px;
  padding-bottom: 5px;*/
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.friendName {
  width:80%;
  word-wrap:break-word;
}

.inviteButton {
  width:25px;
}

#mapsHeader {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background-color: #87CEEB;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #9ACD32;
}
