/*.container {
    height: 100px;
    border: 1px solid black;
    position: relative;
}*/

#navbar-header {
	width: 100%;
	border : 1px solid #000000;
	height: 10%;
	overflow:hidden;
}

#welcome {
	/*font-size: 32px;*/
	color: red;
}

div#navbar-title {
	/*border : 1px solid #000000;*/
	/*display: block;*/
	font-size: 18px;

	float: left;
	padding:0px;
	/*min-height: 100% !important;*/
  	height: 100%;


	/*position: absolute;*/
}

div#navbar-button-one {
	border : 1px solid #000000;
	margin-right: 200px;
	float: right;
	width:10%;
}

div#navbar-button-two {
	border : 1px solid #000000;
	margin-right: 200px;
	float: right;
	width:10%;
}

div#navbar-buttons {
	float: right;
	width: auto;
	height: 100%;
}

