body, html {
    /*overflow: hidden;*/
}

.klt-navbar {
    font-size: 24px;
}

.home_body {
    font-size: 20px;
}

.title {
    font-weight: bold;
}

.top-buffer { margin-top:5px; }

.extra_game_info {
    display: none;
    background-image: linear-gradient(to bottom, #C3DFF7 0px, #A5D2FA 100%);
    height: 50px;
}

.glist-item {
    font-size: 20px;
}

#main {
    margin-bottom: 30px;
}

.klt-footer {
    height: 34px;
    bottom: 0px;
    background-color: #E7E7E7;
    position: absolute;
    width: 100%;
    position: fixed;
}

#chat-search {
    padding-right: 0;
}

#dropdown-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#dropdown-icon-container {
    vertical-align: middle;
    float: right;
}

#dropdown-icon {
    height: 10px;
}