/*

.klt-navbar {
    background-color: yellow;

}

.container-fluid {
    background-color: grey;
}

.left-header {
    background-color: orange;
}

.right-header {
    background-color: red;
}

.elements {
    background-color: white;
}

.title {
    background-color: pink;
}

#navbar-title {
    color: black;
}

.icon {
    color: black;
}

*/
.top-buffer { margin-top:20px; }

.extra_game_info {
	display: none;
}

body, html {
	overflow: hidden;
}