
.dropdownElements {
  padding:5px;
}

.centerAlign {
  text-align:center;
}

.firstRow{
    overflow: hidden;
}

/*code from: http://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height*/
.firstRowCol {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.tdRight {
  width:20%;
}

.tdRight button{
  float:right;
}

.leftAlign {
  float:left;
}

.home_body {
  font-size: 20px;
}

#publicGamesHeader {
  font-size: 20px;
  color:black;
}