input[type=text], input[type=submit] {
	margin: auto;
	display: block;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-indicators > li {
	border-color: black;
}

.carousel-indicators > .active {
	background-color: black;
}