.klt-navbar {
	font-size: 24px;
}

.myfriends_body {
	font-size: 20px;
}

.title {
	font-weight: bold;
}

#search-friends {
	float: left;
}

#online-friend-chat {
	height:auto; 
	width:auto; 
	max-width:18px; 
	max-height:18px;" 
}

#offline-friend-chat {
	height:auto; 
	width:auto; 
	max-width:15px; 
	max-height:15px;" 
}