body, html {
	overflow: hidden;
}

.klt-navbar {
	font-size: 24px;
}

.myfriends_body {
	font-size: 20px;
}

.title {
	font-weight: bold;
}

.top-buffer { margin-top:5px; }

.extra_game_info {
	display: none;
}

#search-friends-btn-area {
	padding: 0;
}

.flist-item {
	font-size: 20px;
}

.klt-footer {
	height: 47px;
	bottom: 0px;
	background-color: #E7E7E7;
	position: absolute;
	width: 100%
}